
.event-card {
  border: 1px solid #d9d9d9;
  display: flex;
  padding: 1%;
}

.event-card:hover {
  background-color: #d9d9d9;
}

.event-card-image {
  height: auto;
  width: 33%;
}

.event-card-text {
  color: #000000;
  padding-left: 5%;
}
